/* aplicar un modelo de diseño de caja natural a todos los elementos, pero permitiendo que los componentes cambien */
html {
  
    /* esto modifica el cuadro de borde en todos los elem*/
    box-sizing: border-box;
    }
body{
    /*defino su ancho*/
    width: 100%;
    height: 100%;
    background-image: url(../img/arte-minimalista-geometrico.jpg);
    /* para que no se repita*/
    background-repeat: no-repeat;
    /* para que abarque todo el espacio disponible*/
    background-size: 150%;
    /*animo la portada
    indicando la velocidad, que se repita infinitamente
    que su recorrido sea lineal y que al terminar rebote al centro*/
    animation: movimiento 6s infinite linear alternate;
    color: white;
    background-color: rgb(229, 224, 218);
}
/* para controlar el movimiento de la imagen, indicando hacia donde moverse y asi darle una animacion al fondo de la pagina*/
@keyframes movimiento {
    from{
        background-position: bottom left;
    }to{
        background-position: right;
    }

    
}

a{
    /*le doy un color secundario*/
    background-color: black;
    /*color del texto*/
    color: white;
    /*lo centro*/
    padding: 10px 30px;
    /*separacion de la ubicacion*/
    margin-bottom: 20px;
    /*agrando la fuente*/
    font-size: 20px;
    /*le saco la linea del enlace*/
    text-decoration: none;
    /*lo coloco en mayuscula*/
    text-transform: uppercase;
    /*texto en negrita*/
    font-weight: bold;
    /*redondeo las esquinas*/
    border-radius: 30px;
    /*le doy un pequeño borde */
    border: 2px solid rgb(255, 252, 252);
    /*uso flexBox para distribuir los elementos*/
    display: flex;
    /*defino el ancho*/
    width: 100px;
}
a:hover{
    /*para que al seleccinar se vea de otro color*/
    background-color: rgb(92, 94, 89);
    color: black;
}
/*sombra para la parte principal de la pag*/
.sombra{
    box-shadow: 1px 2px 32px -3px rgba(18,18,18,0.75);
    -webkit-box-shadow: 1px 2px 32px -3px rgba(18,18,18,0.75);
    -moz-box-shadow: 1px 2px 32px -3px rgba(18,18,18,0.75);
    background-color: rgb(212, 209, 209);
    border-radius: 20px;

}
.contenedor-principal{
    /*le doy una altura al contenedor*/
    height: 800px;
    /*un ancho interno*/
    padding: 10px;
    /*uso flexBox para distribuir los elementos*/
    display: flex;
    /*defino el espacio entre y alrededor de los items internos*/
    justify-content: space-evenly;
    /*defino la alineacion y centro los elementos*/
    align-items: center;

    

}

.contenedor-interno{
    /*defino la altura*/
    height: 400px;
    /*defino el ancho*/
    width: 300px;
    /*uso flexBox para distribuir los elementos*/
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contenedor-interno .icono{
    margin-top: 140px;
}
.contenedor-interno .boton{
        /*le doy un color secundario*/
        background-color: black;
        /*color del texto*/
        color: white;
        /*lo centro*/
        padding: 10px 30px;
        /*separacion de la ubicacion*/
        margin-top: 100px;
        /*agrando la fuente*/
        font-size: 20px;
        /*le saco la linea del enlace*/
        text-decoration: none;
        /*lo coloco en mayuscula*/
        text-transform: uppercase;
        /*texto en negrita*/
        font-weight: bold;
        /*redondeo las esquinas*/
        border-radius: 30px;
        /*le doy un pequeño borde */
        border: 2px solid rgb(255, 252, 252);
        /*defnio el ancho*/
        width: 120px;
        /*centro el texto*/
        text-align: center;
}
/***interactua con el usuario cuando este pasa el raton sobre el***/
.contenedor-interno .boton:hover{
    /*para que al seleccinar se vea de otro color*/
    background-color: rgb(92, 94, 89);
    color: black;
    
}
